$tests: (

  // Shortcut
  center,

  // Flex container
  (
    dir: column,
    wrap: false,
    main-align: around,
    cross-align: end,
    cross-lines: between,
    flex: 1 0 50%,
  ),

  // Flex items
  (
    self-align: end,
    basis: 'quarter',
    grow: 'more',
    shrink: 'less',
    order: 'last',
  ),

);

$test-prefix: 'builder-pal-flex';
@each $test in $tests {
  $i: index($tests, $test);
  .test-#{$test-prefix}-#{$i} {
    @include pal-flex($test);
  }
}
