$tests: (
  (#aaa),
  (2px #bbb),
  (3px solid #ccc),
  (4px solid #ddd (0.5rem 0.75rem)),
  ('t': 3 red, 'b': 2px dashed black),
);
$test-prefix: 'builder-pal-border';
@each $test in $tests {
  $i: index($tests, $test);
  .test-#{$test-prefix}-#{$i} {
    @include pal-border($test);
  }
}
