$tests: (
  'm-2',
  ('p-3', 'pt-0'),
  ('p^t-3'),
  ('m-2', 'p-12', 'pt-0'),
  ('mx-6', 'mt-4', 'mb-2', 'p^r-3/4'),
  ('my-16', 'px-1/8', 'py-13'),
);
$test-prefix: 'builder-pal-space';
@each $test in $tests {
  $i: index($tests, $test);
  .test-#{$test-prefix}-#{$i} {
    @include pal-space($test);
  }
}
