/// Splits given string by the given separator into a plain list
///
/// @access public
/// @group helpers-functions-string
/// @author Alain D'Ettorre <alain.det@gmail.com>
///
/// @example scss Split a phrase into words
///   pal-string-split('how are you?', ' ')
///   // ('how', 'are', 'you?')
///
/// @param {String} $string The string to split
/// @param {String} $seperator The separator to split into
/// @return {List}
///
@function pal-string-split($string, $separator: ' ')
{
  $output: ();

  $index: str-index($string, $separator);
  @while ($index != null) {
    $bit: str-slice($string, 1, $index - 1);
    $output: append($output, $bit);
    $string: str-slice($string, $index + 1);
    $index: str-index($string, $separator);
  }
  $output: append($output, $string);

  @return $output;
}
