@include describe('[Helper Function] pal-list-sort-by-length-desc') {
  @include it('Sorts a list by descending lenght of elements (strings)') {

    // Test #1
    $assertion: pal-list-sort-by-length(aaa bb cccc);
    $expected: cccc aaa bb;
    @include assert-equal($assertion, $expected);

    // Test #2
    $assertion: pal-list-sort-by-length(('one', 'two', 'three'));
    $expected: ('three', 'one', 'two');
    @include assert-equal($assertion, $expected);

  }
}
