$tests: (
  (
    'given': (0.333),
    'expected': 0,
  ),
  (
    'given': (0.333, 1),
    'expected': 0.3,
  ),
  (
    'given': (0.3, 2),
    'expected': 0.3,
  ),
  (
    'given': (0.666, 2),
    'expected': 0.67,
  )
);

@include describe('[Helper Function] pal-number-decimals') {
  @include it('Rounds a number to given amount of decimal digits') {
    @each $test in $tests {
      $given: map-get($test, 'given');
      $arg1: pal-list-get($given, 1);
      $arg2: pal-list-get($given, 2);
      $assertion: null;
      @if ($arg2 != null) {
        $assertion: pal-number-decimals($arg1, $arg2);
      } @else {
        $assertion: pal-number-decimals($arg1);
      }
      $expected: map-get($test, 'expected');
      @include assert-equal($assertion, $expected);
    }
  }
}
