$tests: (
  24px,
  2.5rem,
  66.6%,
  123,
);

$test-prefix: 'number-has-unit';
@each $test in $tests {
  $i: index($tests, $test);
  $result: pal-number-has-unit($test);
  .test-#{$test-prefix}-#{$i} {
    content: '#{$result}';
  }
}
