/// Parses any side abbreviation to the proper list of sides
/// Always returns a list even for one element
///
/// @access public
/// @group core-functions
/// @author Alain D'Ettorre <alain.det@gmail.com>
/// @require {function} pal-const
///
/// @example scss
///   pal-parse-sides('b') // ('bottom')
///   pal-parse-sides('tr') // ('top', 'right')
///   pal-parse-sides('*') // ('top', 'right', 'bottom', 'left')
///   pal-parse-sides('-t') // ('right', 'bottom', 'left')
///
/// @param {String} $input
/// @return {List}
///
@function pal-parse-sides($input)
{
  $sides: pal-const('sides');
  $output: map-get($sides, $input);

  @if ($output != null) {
    @return $output;
  }

  // Build the custom sides list, like 'rb': ('right', 'bottom')
  $output: ();

  @for $i from 1 through str-length($input) {
    $char: str-slice($input, $i, $i);
    $label: map-get($sides, $char);
    $output: append($output, $label);
  }

  @return $output;
}
