/// Sets a new key-value into the Sass Pal store or overwrites an existing one
/// 
/// @access public
/// @group core-functions
/// @author Alain D'Ettorre <alain.det@gmail.com>
/// @require {function} _pal-reducers
/// 
/// @example scss Set base unit
///   pal-store-set('unit', 1rem); // null
///
/// @param {String} $key
/// @param {Null | Bool | Number | Color | String | List | Map} $value
/// @return {Null | Bool | Number | Color | String | List | Map} The set value
///
@function pal-store-set($key, $value)
{
  @if ($key == 'pal') {
    @error 'You cannot override the "pal" key on the store';
  }

  $old-store: $_PAL_STORE;
  $new-store: map-merge($old-store, (#{$key}: $value));

  // Run the reducers
  $_PAL_STORE: _pal-reducers($key, $old-store, $new-store) !global;

  @return null;
}
