/**
 * Transforms a plain list into a string
 *
 * @param $glue string
 * @param $list list
 * @return string
 */
@function pal-list-join($glue, $list)
{
  $output: '';

  @each $item in $list {
    @if ($output == '') {
      $output: $item;
    } @else {
      $output: '#{$output}#{$glue}#{$item}';
    }
  }

  @return $output;
}
