/// Parses any side abbreviation to the proper list of sides
/// Always returns a list even for one element
///
/// @access public
/// @group functions-string
/// @author Alain D'Ettorre <alain.det@gmail.com>
///
/// @example scss
///   pal-parse-sides('b') // ('bottom')
///   pal-parse-sides('tr') // ('top', 'right')
///   pal-parse-sides('*') // ('top', 'right', 'bottom', 'left')
///   pal-parse-sides('-t') // ('right', 'bottom', 'left')
///
/// @param {String} $input
/// @return {List}
///
@function pal-parse-sides($input)
{
  $output: map-get($pal-sides, $input);
  $output-type: type-of($output);

  @if ($output-type == 'list') {
    @return $output;
  }

  @if ($output-type == 'string') {
    @return ($output);
  }

  $output: ();

  @for $i from 1 through str-length($input) {
    $char: str-slice($input, $i, $i);
    $label: map-get($pal-sides, $char);
    $output: append($output, $label);
  }

  @return $output;
}
