@import './sass-pal';

// 1. Open the terminal and run `npm run demo`
// 2. Write any demo code here
// 3. See the output into the terminal
// 4. Any saved change updated the output
// 5. To exit, press Ctrl+C

.test {
  @include pal((
    // ...
  ));
}

.test {
  content: inspect(pal-string-get('Hello world', 0));
  content: inspect(pal-string-get('Hello world', 1));
  content: inspect(pal-string-get('Hello world', -1));
  content: inspect(pal-string-get('Hello world', -3));
}
