$tests: (
  (
    '*': (
      space: 'm^t-3' 'mb-4' 'py-2' 'px-4',
      size: 'w-1/3' 'h-1/2',
      position: absolute (2 4),
      border: 2 #ccc,
      flex: (
        main-align: end,
        cross-align: center,
      ),
    ),
    'tablet+': (
      space: 'my-0' 'py-5' 'px-8',
      border: (x: 3 #aaa, y: 2 #bbb),
    ),
    'tablet+:hover': (
      size: 'w-full',
    ),
  ),
  (
    flex: center,
  ),
);

$test-prefix: 'query-scoped-maps';
@each $test in $tests {
  $i: index($tests, $test);
  .test-#{$test-prefix}-#{$i} {
    @include pal($test);
  }
}
