@import 'true';
@import 'sass-pal';

$tests: (
  (
    'given': 'tablet+:focus',
    'expected': (
      'device': 'tablet',
      'operator': 'up',
      'pseudo-class': 'focus',
    ),
  ),
  (
    'given': 'desktop',
    'expected': (
      'device': 'desktop',
      'operator': 'in',
      'pseudo-class': 'any',
    ),
  ),
  (
    'given': 'any:hover',
    'expected': (
      'device': 'any',
      'operator': 'in',
      'pseudo-class': 'hover',
    ),
  ),
  (
    'given': ':focus',
    'expected': (
      'device': 'any',
      'operator': 'in',
      'pseudo-class': 'focus',
    ),
  ),
);

@include describe('[Core Function] _pal-parse-device-query') {
  @include it('Parses a device query string into a processable map') {
    @each $test in $tests {
      $assertion: _pal-parse-device-query(map-get($test, 'given'));
      $expected: map-get($test, 'expected');
      @include assert-equal($assertion, $expected);
    }
  }
}
