@mixin pal($map)
{
  // Single utility map with no device query
  @if (_pal-has-device-queries($map) == false) {
    @each $builder-name, $builer-value in $map {
      @include pal-builder($builder-name, $builder-value);
    }
  }

  // Multiple utility maps grouped by device query
  @else {
    @each $query, $group in _pal-group-by-device-query($map) {

      $device: pal-map-get($group, 'query.device');
      $operator: pal-map-get($group, 'query.operator');
      $states: pal-map-get($group, 'states');

      @include pal-media-query($device, $operator) {
        @each $state, $utility-map in $states {
          @include pal-pseudo-class($state) {
            @each $builder-name, $builder-value in $utility-map {
              @include pal-builder($builder-name, $builder-value);
            }
          }
        }
      }
    }
  }
}
