@include describe('[Core Function] pal-set') {
  @include it('Store values (overwrite existing) into data store') {

    // Test #1
    $given: 123;
    $discard: pal-set('test-1', $given);
    $assertion: map-get($_PAL_STORE, 'test-1');
    $expected: $given;
    @include assert-equal($assertion, $expected);

    // Test #2
    $given: (
      'a': 111,
      'b': 222,
      'c': 333,
    );
    $discard: pal-set('test-2', $given);
    $assertion: pal-map-get($_PAL_STORE, 'test-2.c');
    $expected: 333;
    @include assert-equal($assertion, $expected);

  }
}
