/// @type Map
$pal-sides: (
  't': 'top',
  'r': 'right',
  'b': 'bottom',
  'l': 'left',
  'x': ('top', 'bottom'),
  'y': ('right', 'left'),
  '-t': ('right', 'bottom', 'left'),
  '-r': ('bottom', 'left', 'top'),
  '-b': ('top', 'right', 'left'),
  '-l': ('top', 'right', 'bottom'),
  '*': ('top', 'right', 'bottom', 'left'),
) !default;

/// @type List
$pal-builders: (
  'border',
  'display',
  'flex',
  'position',
  'size',
  'space',
) !default;

/// @type List
$pal-devices: (
  'mobile',
  'tablet',
  'desktop',
  'over',
) !default;

/// @type Map
$pal-device-ranges: (
  'mobile': (320px, 768px - 0.001px),
  'tablet': (768px, 1024px - 0.001px),
  'desktop': (1024px, 1440px - 0.001px),
  'over': (1440px, 9999px),
) !default;

/// @type Map
$pal-media-query-operators: (
  '=': 'in', // Default
  '-': 'down',
  '+': 'up',
) !default;

/// @type String
$pal-media-query-operator-default: 'in' !default;
