@import 'true';
@import 'sass-pal';

@include describe('[Helper Function] pal-map-get') {
  @include it('Returns a deeply nested value from a map, given a query string') {

    $map: (
      'a': (
        'b': (
          'c': 42,
        ),
      ),
      'd': 69
    );

    // Test #1
    $assertion: pal-map-get($map, 'a.b.c');
    $expected: 42;
    @include assert-equal($assertion, $expected);

    // Test #2
    $assertion: pal-map-get($map, 'd');
    $expected: 69;
    @include assert-equal($assertion, $expected);

  }
}
