@import 'true';
@import 'sass-pal';

@include describe('[Helper Function] pal-map-is-any-key') {
  @include it('Checks if a map has any of the keys of a given list') {

    $map: (
      'a': 111,
      'b': 222,
      'c': 333,
      'd': 444,
    );

    // Test #1
    $assertion: pal-map-is-any-key($map, ('c', 'x', 'y'));
    $expected: true;
    @include assert-equal($assertion, $expected);

    // Test #2
    $assertion: pal-map-is-any-key($map, ('x', 'y', 'z'));
    $expected: false;
    @include assert-equal($assertion, $expected);

  }
}
