@import 'true';
@import 'sass-pal';

$tests: (
  (
    given: 'valid',
    expected: true,
  ),
  (
    given: '-valid',
    expected: true,
  ),
  (
    given: '--invalid',
    expected: false,
  ),
  (
    given: '42invalid',
    expected: false,
  ),
  (
    given: '_valid',
    expected: true,
  ),
  (
    given: '_42valid',
    expected: true,
  ),
  (
    given: '-42invalid',
    expected: false,
  ),
  (
    given: 'x',
    expected: false,
  ),
  (
    given: '',
    expected: false,
  ),
  (
    given: 'valid42',
    expected: true,
  ),
  (
    given: '-_',
    expected: true,
  ),
);

@include describe('[Helper Function] pal-string-is-css-class') {
  @include it('Checks if a string is a valid CSS class') {
    @each $test in $tests {
      $assertion: pal-string-is-css-class(map-get($test, 'given'));
      $expected: map-get($test, 'expected');
      @include assert-equal($assertion, $expected);
    }
  }
}
