@import 'true';
@import 'sass-pal';

$tests: (
  (
    'given': (null, null),
    'expected': true,
  ),
  (
    'given': (false, false),
    'expected': true,
  ),
  (
    'given': (42, 42),
    'expected': true,
  ),
  (
    'given': (#456, #456),
    'expected': true,
  ),
  (
    'given': ('hello world', 'hello world'),
    'expected': true,
  ),
  (
    'given': ( (1, 2, 3), (1, 2, 3) ),
    'expected': true,
  ),
  (
    'given': ( (a: 10, b: 20, c: 30), (a: 10, b: 20, c: 30) ),
    'expected': true,
  ),
  (
    'given': ( (question: 'what is love?'), (answer: 'baby don\'t hertz me') ),
    'expected': false,
  ),
);

@include describe('[Helper Function] pal-compare') {
  @include it('Checks if any two values are equal (by value, not reference)') {
    @each $test in $tests {
      $given: map-get($test, 'given');
      $arg1: pal-list-get($given, 1);
      $arg2: pal-list-get($given, 2);
      $assertion: pal-compare($arg1, $arg2);
      $expected: map-get($test, 'expected');
      @include assert-equal($assertion, $expected);
    }
  }
}
