@include describe('[Core Mixin] @content') {
  @include it('Display any passed content inside builders') {

    // Test #1
    @include assert {
      @include output {
        .test {
          @include pal-border(#aaa) {
            content: 'border content';
          }
          @include pal-css(( transform: rotate(45deg) )) {
            content: 'css content';
          }
          @include pal-flex(center) {
            content: 'flex content';
          }
          @include pal-position(absolute (1 2)) {
            content: 'position content';
          }
          @include pal-size(w-half) {
            content: 'size content';
          }
          @include pal-space(m1 p2) {
            content: 'space content';
          }
        }
      }
      @include expect {
        .test {
          content: 'border content';
          border: 1px solid #aaa;
          content: 'css content';
          transform: rotate(45deg);
          content: 'flex content';
          display: flex;
          justify-content: center;
          align-items: center;
          content: 'position content';
          position: absolute;
          top: 0.5rem;
          bottom: 0.5rem;
          left: 1rem;
          right: 1rem;
          content: 'size content';
          width: 50%;
          content: 'space content';
          margin: 0.5rem;
          padding: 1rem;
        }
      }
    }

  }
}
