@import 'true';
@import 'sass-pal';

$tests: (
  (
    given: 24px,
    expected: 'px',
  ),
  (
    given: 5,
    expected: '',
  ),
  (
    given: 3rem,
    expected: 'rem',
  ),
  (
    given: 42%,
    expected: '%',
  ),
);

@include describe('[Helper Function] pal-number-get-unit') {
  @include it('Get the length unit of a number (unitless have empty string)') {
    @each $test in $tests {
      $assertion: pal-number-get-unit(map-get($test, 'given'));
      $expected: map-get($test, 'expected');
      @include assert-equal($assertion, $expected);
    }
  }
}
