/// Map of all Pal's defaults. These cannot be modified, just patched with custom variables
/// 
/// @type Map
/// @prop {List} defaults.builders - List of all Pal's builder mixins
/// @prop {Map} defaults.sides - Map of all sides of a rectangle. Key: abbrev, value: list of sides
/// @prop {Map} defaults.devices - Map of all devices. Key: name, value: list of (min, max) resolutions
/// @prop {Map} defaults.media-query - Map of all media-query related meta data
/// @prop {String} defaults.media-query.operator - Default media query operator
/// @prop {Map} defaults.media-query.operators - Map of all media query operators. Key: symbol, value: label
$pal-defaults: (
  'builders': (
    'border',
    'display',
    'flex',
    'position',
    'size',
    'space',
  ),
  'sides': (
    't': ('top'),
    'r': ('right'),
    'b': ('bottom'),
    'l': ('left'),
    'x': ('top', 'bottom'),
    'y': ('right', 'left'),
    '-t': ('right', 'bottom', 'left'),
    '-r': ('bottom', 'left', 'top'),
    '-b': ('top', 'right', 'left'),
    '-l': ('top', 'right', 'bottom'),
    '*': ('top', 'right', 'bottom', 'left'),
  ),
  'devices': (
    'mobile': (320px, 768px - 0.001px),
    'tablet': (768px, 1024px - 0.001px),
    'desktop': (1024px, 1440px - 0.001px),
    'over': (1440px, 9999px),
  ),
  'media-query': (
    'operator': 'in',
    'operators': (
      '=': 'in',
      '-': 'down',
      '+': 'up',
    ),
  ),
);

// No user-defined constants, use defaults to define constants
@if (variable-exists('pal-constants') == false) {
  $pal-constants: $pal-defaults;
}

// Fill missing values with defaults
@else {
  @each $key, $default in $pal-defaults {
    @if (map-get($pal, $key) == null) {
      $missing-value: (#{$key}: $default);
      $pal-constants: map-merge($pal-constants, $missing-value);
    }
  }
}
