/// Sass Pal builder for border-* rules. Any 'default' or missing value is 
/// replaced by its default. Any `null` value is explicitly not set instead.
///
/// @access public
/// @group core-builders
/// @author Alain D'Ettorre <alain.det@gmail.com>
/// @require {function} pal-map-are-keys
/// @require {function} pal-map-get-all
/// @require {function} pal-parse-sides
/// @require {function} pal-parse-value
/// @require {function} pal-parse-unit
///
/// @example scss With 1 value
///   pal-border(#aaa);
///   // border-width: 1px;
///   // border-style: solid;
///   // border-color: #aaa;
/// @example scss With 2 values
///   pal-border(2px #bbb);
///   // border-width: 2px;
///   // border-style: solid;
///   // border-color: #bbb;
/// @example scss With 3 values
///   pal-border(3px dashed #ccc);
///   // border-width: 3px;
///   // border-style: dashed:
///   // border-color: #ccc;
/// @example scss With 4 values
///   pal-border(4px double #ddd (1rem 2rem));
///   // border-width: 4px;
///   // border-style: double;
///   // border-color: #ddd;
///   // border-radius: 1rem 2 rem;
/// @example scss With null values (do not set them)
///   pal-border(null dotted #eee null);
///   // border-style: dotted;
///   // border-color: #eee;
/// @example scss With default values
///   pal-border('default' dashed null);
///   // border-width: 1px;
///   // border-style: dashed; 
/// @example scss Scoped by side
///   pal-border(('t': 1px red, 'b': 2px dashed black));
///   // border-top: 1px solid red;      
///   // border-bottom: 2px dashed black;
/// 
/// @param { List | Map | Number | String } $border
/// @output Border related rules
/// 
@mixin pal-border($border)
{
  @content;

  // Reset border with 'none'
  @if ($border == 'none') {
    border: none;
  }

  // Reset border with 0
  @else if ($border == 0) {
    border: 0;
  }

  // Process input
  @else {

    // Normalize input to a map
    @if (type-of($border) != 'map') {
      $border: ('*': $border);
    }

    @each $side-key, $list in $border {

      // Normalize to list if necessary
      @if (type-of($list) != 'list') {
        $list: ($list);
      }

      $values: (
        'width': 'default', // <-- This means "if no value set, use default"
        'style': 'default',
        'color': 'default',
        'radius': null, // <-- This means "if no value set, don't set radius"
      );

      $defaults: (
        'width': 1px,
        'style': solid,
        'color': #ccc,
        'radius': null,
      );

      // Ex.: pal-parse-sides('t'); // ('top');
      $sides: pal-parse-sides($side-key);
      $should-apply-to-all-sides: length($sides) == 4;

      // color
      @if (length($list) == 1) {
        $values: map-merge($values, (
          'color': nth($list, 1),
        ));
      }

      // width color
      @else if (length($list) == 2) {
        $values: map-merge($values, (
          'width': nth($list, 1),
          'color': nth($list, 2),
        ));
      }

      // width style color
      @else if (length($list) == 3) {
        $values: map-merge($values, (
          'width': nth($list, 1),
          'style': nth($list, 2),
          'color': nth($list, 3),
        ));
      }

      // with style color radius
      @else if (length($list) == 4) {
        $values: map-merge($values, (
          'width': nth($list, 1),
          'style': nth($list, 2),
          'color': nth($list, 3),
          'radius': nth($list, 4),
        ));
      }

      // Merge input values with default values
      @each $key, $default in $defaults {

        $value: map-get($values, $key);

        // Use default if this value was not overridden
        @if ($value == 'default') {
          $new-values: (#{$key}: $default);
          $values: map-merge($values, $new-values);
        }

        // Normalize any list to the same syntax
        @if (type-of($value) == 'list') {
          $border: ();
          @each $item in $value {
            $border: append($border, $item);
          }
          $new-values: (#{$key}: $border);
          $values: map-merge($values, $new-values);
        }
      }

      // Transform width using stored value, if needed
      // Ex.: width: 1 => width: 0.5rem
      @if (map-get($values, 'width') != null) {
        $width: pal-parse-unit(map-get($values, 'width'), 'units');
        $values: map-merge($values, ('width': $width));
      }

      // Transform color using stored value, if needed
      // Ex.: color: 'red' => color: #e53e3e
      @if (map-get($values, 'color') != null) {
        $color: pal-parse-value(map-get($values, 'color'), 'colors');
        $values: map-merge($values, ('color': $color));
      }

      // Shorthand property
      @if (pal-map-are-keys($values, ('width', 'style', 'color'))) {
        $border-list: pal-map-get-all($values, ('width', 'style', 'color'));
        @if ($should-apply-to-all-sides) {
          border: $border-list;  
        } @else {
          @each $side in $sides {
            border-#{$side}: $border-list;
          }
        }
      }
      
      // Single properties (avoid setting null values)
      @else {
        @if (map-get($values, 'width') != null) {
          @if ($should-apply-to-all-sides) {
            border-width: map-get($values, 'width');
          } @else {
            @each $side in $sides {
              border-#{$side}-width: map-get($values, 'width');
            }
          }
        }
        @if (map-get($values, 'style') != null) {
          @if ($should-apply-to-all-sides) {
            border-style: map-get($values, 'style');
          } @else {
            @each $side in $sides {
              border-#{$side}-style: map-get($values, 'style');
            }
          }
        }
        @if (map-get($values, 'color') != null) {
          @if ($should-apply-to-all-sides) {
            border-color: map-get($values, 'color');
          } @else {
            @each $side in $sides {
              border-#{$side}-color: map-get($values, 'color');
            }
          }
        }
      }

      // Specify border radius (works on shorthand border-radius only)
      @if (map-get($values, 'radius') != null and $should-apply-to-all-sides) {
        $radii: map-get($values, 'radius');

        @if (type-of($radii) == 'list') {
          $parsed-radii: ();
          @each $radius in $radii {
            $value: pal-parse-unit($radius, $default: 'relative-units');
            $parsed-radii: append($parsed-radii, $value);
          }
          $radii: $parsed-radii;
        } @else {
          $radii: pal-parse-unit($radii, $default: 'relative-units');
        }

        border-radius: $radii;
      }
    }
  }
}
