/// Sass Pal builder for color rules. It accepts either a map or a list. If given
/// strings instead of colors
///
/// @access public
/// @group core-builders
/// @author Alain D'Ettorre <alain.det@gmail.com>
/// @require {function} pal-map-set
/// @require {function} pal-list-get
/// @require {function} pal-color-parse
///
/// @example scss Some example here
///   pal-color(#aaa); 
/// 
/// @param { List | Map | Number | String } $_input
/// @output Color related rules
///
@mixin pal-color($_input)
{
  @content;

  $input: $_input;
  $type: type-of($input);

  @if ($type != 'map') {

    // Normalize input to list
    @if ($type != 'list') {
      $input: ($input);
    }

    // Normalize input to map
    $input: (
      'background': pal-list-get($input, 1),
      'text': pal-list-get($input, 2),
      'border': pal-list-get($input, 3),
    );
  }

  $background: map-get($input, 'background');
  @if ($background != null) {
    background-color: pal-color-parse($background);
  }

  $text: map-get($input, 'text');
  @if ($text != null) {
    color: pal-color-parse($text);
  }

  $border: map-get($input, 'border');
  @if ($border != null) {
    border-color: pal-color-parse($border);
  }
}
