@import 'true';
@import 'sass-pal';

@include describe('[Core Mixin] pal-space') {
  @include it('Builds space-related (padding, margin) rules') {

    // Test #1
    @include assert {
      @include output {
        .test {
          @include pal-space('m2');
        }
      }
      @include expect {
        .test {
          margin: 1rem;
        }
      }
    }

    // Test #2
    @include assert {
      @include output {
        .test {
          @include pal-space('p3' 'pt0');
        }
      }
      @include expect {
        .test {
          padding: 1.5rem;
          padding-top: 0;
        }
      }
    }

    // Test #3
    @include assert {
      @include output {
        .test {
          @include pal-space('p^t3');
        }
      }
      @include expect {
        .test {
          padding-right: 1.5rem;
          padding-bottom: 1.5rem;
          padding-left: 1.5rem;
        }
      }
    }

    // Test #4
    @include assert {
      @include output {
        .test {
          @include pal-space('m2' 'p12' 'pt0');
        }
      }
      @include expect {
        .test {
          margin: 1rem;
          padding: 6rem;
          padding-top: 0;
        }
      }
    }

    // Test #5
    @include assert {
      @include output {
        .test {
          @include pal-space((
            'mx6',
            'mt4',
            'mb2',
            'p^r3/4'
          ));
        }
      }
      @include expect {
        .test {
          margin-right: 3rem;
          margin-left: 3rem;
          margin-top: 2rem;
          margin-bottom: 1rem;
          padding-top: 0.375rem;
          padding-bottom: 0.375rem;
          padding-left: 0.375rem;
        }
      }
    }

    // Test #6
    @include assert {
      @include output {
        .test {
          @include pal-space((
            'my16',
            'px1/8',
            'py13'
          ));
        }
      }
      @include expect {
        .test {
          margin-top: 8rem;
          margin-bottom: 8rem;
          padding-right: 0.0625rem;
          padding-left: 0.0625rem;
          padding-top: 6.5rem;
          padding-bottom: 6.5rem;
        }
      }
    }

    // Test #7
    @include assert {
      @include output {
        .test {
          @include pal-space('m1/3%' 'px4u');
        }
      }
      @include expect {
        .test {
          margin: 0.16667rem;
          padding-right: 2rem;
          padding-left: 2rem;
        }
      }
    }

  }
}
