/// Updates the 'devices' key of the store
/// Substracts a tiny length to the upper end resolutions so that @media
/// queries do not overlap
/// Stores 'devices'
///
/// @access private
/// @group core-reducers
/// @author Alain D'Ettorre <alain.det@gmail.com>
///
/// @param {Map} $store
/// @param {Map} $old-value
///
@function _pal-devices-reducer($state, $action)
{
  @if (map-get($action, 'type') != 'devices') {
    @return $state;
  }
  
  $result: ();
  $epsilon: 0.0001px;

  @each $label, $resolutions in map-get($action, 'payload') {
    $min: nth($resolutions, 1);
    $max: nth($resolutions, 2) - $epsilon;
    $result: map-merge($result, ( #{$label}: ($min, $max) ));
  }

  @return map-merge($state, ( 'devices': $result ));
}
