/// Transforms all relative units of the payload to percentages before storing
/// Stores 'relative-units'
///
/// @access private
/// @group core-reducers
/// @author Alain D'Ettorre <alain.det@gmail.com>
/// @require {function} pal-number-decimals
/// @require {function} pal-get
///
/// @param {Map} $state
/// @param {Map} $action
/// @return {Map}
///
@function _pal-relative-units-reducer($state, $action)
{
  @if (map-get($action, 'type') != 'relative-units') {
    @return $state;
  }

  $result: ();

  @each $label, $factor in map-get($action, 'payload') {

    // Multiply the given factor by 100%, except for 0 (which MUST be unitless)
    $value: if($factor == 0, 0, $factor * 100%);

    // Get a fixed number of decimals
    $value: pal-number-decimals($value, pal-get('pal.decimals'));

    $result: map-merge($result, ( #{$label}: $value ));
  }

  @return map-merge($state, ('relative-units': $result ));
}
