/// Updates the 'relative-units' key of the store.
/// Transforms all relative units to percentages
///
/// @access private
/// @group core-reducers
/// @author Alain D'Ettorre <alain.det@gmail.com>
/// @require {function} pal-number-decimals
/// @require {function} pal-get
///
/// @param {Map} $store
/// @param {Map} $old-value
///
@function _pal-relative-units-reducer($store, $old-value)
{
  $relative-units: map-get($store, 'relative-units');

  @each $label, $factor in $relative-units {
    $value: if($factor == 0, 0, $factor * 100%);
    $value: pal-number-decimals($value, pal-get('pal.decimals'));
    $relative-units: map-merge($relative-units, (#{$label}: $value));
  }

  @return map-merge($store, ('relative-units': $relative-units));
}
