$backup: $_PAL_STORE;

@include describe('[Core Reducer] _pal-units-reducer') {
  @include it('Reduces the \'units\' stored value') {

    // Test #1
    $units: (
      'tenfold': 10,
      'twentyfold': 20,
      'thirtyfold': 30,
    );
    // Base unit is 0.5rem by default
    $expected: (
      'tenfold': 5rem,
      'twentyfold': 10rem,
      'thirtyfold': 15rem,
    );
    $null: pal-store-set('units', $units);
    $assertion: pal-store-get('units');
    @include assert-equal($assertion, $expected);

  }
}

$_PAL_STORE: $backup;
